In [1]:
if 5>2:
    
            print("5 is greater than 2")

5 is greater than 2

In [17]:
#print examples
x="my name is shashi"
y="i am married to nunu"
print(x)
print(y)
print(x,y)

my name is shashi
i am married to nunu
my name is shashi i am married to nunu

In [13]:
x=5
x="shashi"
print(x)
print(type(x))

shashi
<class 'str'>

In [14]:
shashi,neha="my name is shashi","neha is my wife"
print(shashi)
print(neha)

my name is shashi
neha is my wife

In [19]:
fruits=["apple","banana","orange"]
x,y,z=fruits
print(fruits)
print(x)
print(y)
print(z)
print(x,y,z)
print(x+y+z)

['apple', 'banana', 'orange']
apple
banana
orange
apple banana orange
applebananaorange

In [24]:
x,y=5,"job"
print(x,y)

5 job

In [31]:
#function
x="awesone"

def myFunc():
    global x
    x="fantastic"
    print("Python is " + x)

myFunc()

print(x)


carname="Volvo"
print(carname)
print(type(carname))

Python is fantastic
fantastic
Volvo
<class 'str'>

In [7]:
#variables
x=-20
y=20.3
z=1j
print(type(x),type(y),type(z))

a=float(x)
b=int(y)
c=complex(x)

print(a, b, c)
print(type(a),type(b),type(c))

import random
print("random")
print(random.randrange(1,100))

z=str(2)
print(z)

a="hello"
print(a)

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna shashi aliqua."""
if "dolor" in a:
    print("dolor in a")
    

print(len(a))
    
#print(a)

print(a[0])

print("dolor" in a )

for x in "bananana":
    print(x)
    
    
b = "Hello, World!"
print(b.split(","))


age=36
name= "my name is shashi and I am {}"
name=name.upper()
print ((name.format(age)))

print(bool(15))

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

x = 200
print(isinstance(x, int))

<class 'int'> <class 'float'> <class 'complex'>
-20.0 20 (-20+0j)
<class 'float'> <class 'int'> <class 'complex'>
random
68
2
hello
dolor in a
130
L
True
b
a
n
a
n
a
n
a
['Hello', ' World!']
MY NAME IS SHASHI AND I AM 36
True
True
True
False
True

In [6]:
#operator

print(5 + 4 - 7 + 3)

5

In [110]:
#list

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

list1 = ["abc", 34, True, 40, "male"]
print(list1)

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:4] = ["blackcurrant", "watermelon","shashi"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1] = "watermelon"
print(thislist)


thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])


thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
thislist.insert(2,"blackcurrent")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)
thislist.clear()
print("thislist")
del thislist
print("thislist")

<class 'list'>
['abc', 34, True, 40, 'male']
cherry
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'shashi', 'kiwi', 'mango']
['apple', 'watermelon', 'cherry']
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'watermelon']
['apple', 'banana', 'blackcurrent', 'watermelon', 'cherry']
['apple', 'banana', 'cherry', 'kiwi', 'orange']
thislist
thislist

In [9]:
#loop list

thislist=["apple","banana","cherry"]
# for x in thislist:
#     print(x)
# print(len(thislist))
# print (range(len(thislist)))
# for i in range(len(thislist)):
#     print(thislist[i])

    
# #while loop
# print(len(thislist))
# i=0
# while i < len(thislist):
#     print(thislist[i])
#     i=i+1
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [151]:
#comprehension looping
fruits=["apple","banana","cherry"]
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

newlist2=[x for x in fruits if "e" in x]
print (newlist2)

newlist3=[x for x in fruits if x!="apple"]
print(newlist3)

newlist4=[x for x in fruits]
print(newlist4)

newlist5 = [x for x in range(10)]
print(newlist5)

newlist6 = ['hello' for x in fruits]
print(newlist6)

newlist7 = [x if x != "banana" else "orange" for x in fruits]
print(newlist7)

SyntaxError: expected 'else' after 'if' expression (3377943359.py, line 24)

In [161]:
#sorting
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)


thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)


fruits = ["apple", "banana", "cherry"]
print(fruits[1])

[50, 65, 23, 82, 100]
['cherry', 'Kiwi', 'Orange', 'banana']
banana

In [167]:
#tuple
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple = thistuple+ y

print(thistuple)


fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

<class 'tuple'>
<class 'str'>
<class 'tuple'>
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
apple
banana
cherry

In [191]:
# # # def my_function(fname):
# # #   print(fname + " Refsnes")

# # # my_function("Emil")
# # # my_function("Tobias")
# # # my_function("Linus")

# # # def my_function(*kids):
# # #   print("The youngest child is " + kids[2])

# # # my_function("Emil", "Tobias", "Linus")


# # # def _myfunct(x):
# # #     return 5*x
# # # print(_myfunct(3))

# # def tri_recursion(k):
# #   if(k > 0):
# #     result = k + tri_recursion(k - 1)
# #     print(result)
# #   else:
# #     result = 0
# #   return result

# # print("\n\nRecursion Example Results")
# # tri_recursion(6)


# x = lambda a : a + 10
# print(x(5))

# y = lambda a, b : a*b+10
# print(y(2,3))

# def myfunc(n):
#   return lambda a : a * n

# mydoubler = myfunc(2)

# print(mydoubler(11))

class MyClass:
    x=5
    y=10
p1=MyClass()
print(p1.y)

class Person:
  def __init__(self1, name, age):
    self1.name = name
    self1.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

10
John
36
John(36)

In [194]:
#iterators

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))


mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry
b
a
n
a
n
a

In [195]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [198]:
# #polymorphism

# class Car:
#   def __init__(self, brand, model):
#     self.brand = brand
#     self.model = model

#   def move(self):
#     print("Drive!")

# class Boat:
#   def __init__(self, brand, model):
#     self.brand = brand
#     self.model = model

#   def move(self):
#     print("Sail!")

# class Plane:
#   def __init__(self, brand, model):
#     self.brand = brand
#     self.model = model

#   def move(self):
#     print("Fly!")

# car1 = Car("Ford", "Mustang")       #Create a Car class
# boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
# plane1 = Plane("Boeing", "747")     #Create a Plane class

# for x in (car1, boat1, plane1):
#   x.move()

class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand,x.model)
  x.move()

Ford Mustang
Move!
Ibiza Touring 20
Sail!
Boeing 747
Fly!

In [199]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [200]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [205]:
import platform

x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_os_release_line', '_os_release_unescape', '_parse_os_release', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_output', '_ver_stages', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

In [209]:
import datetime

x = datetime.datetime.now()
y=dir(datetime)
print(x)
print(x.strftime("%A"))
print(y)
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2023-11-23 06:49:08.020885
Thursday
['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']
2020-05-17 00:00:00

In [212]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

x = abs(-7.25)

print(x)

import math

x = dir(math)

print(x)

June
7.25
['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [217]:
#json

import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}
print(x)
#print(json.dumps(x))
print(json.dumps(x, indent=0, separators=(". ", " = ")))

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ('Ann', 'Billy'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
{
"name" = "John".
"age" = 30.
"married" = true.
"divorced" = false.
"children" = [
"Ann".
"Billy"
].
"pets" = null.
"cars" = [
{
"model" = "BMW 230".
"mpg" = 27.5
}.
{
"model" = "Ford Edge".
"mpg" = 24.1
}
]
}